body{
    background-color: rgb(21, 118, 203);
}

h1{
    color: rgb(196, 186, 245);
    font-size: 130px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
    margin: 10px;
}
h2{
    color: rgb(34, 14, 134);
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
    margin: 10px;
}
p{
    color: rgb(16, 12, 117);
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
    margin: 10px;
}
a{
    color: rgb(38, 32, 222);
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
    margin: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover {
    font-size: 60px;
    color: rgb(255, 255, 255);
}
footer{
    color:rgb(216, 117, 117);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    letter-spacing: 2px;
}
footer :hover{
    font-size: 35px;
    color: rgb(224, 32, 32);
    cursor: pointer;
}
footer p {
    font-family: 'Verdana', sans-serif !important;
    font-weight: 1000;
    color: rgb(154, 170, 207);
}

.color-especifico {
    color: #ffffff; /* El color que desees */
}

/* Estilos para el mensaje de contraseña incorrecta */
.alerta {
    font-size: 50px; /* Tamaño del texto */
    color: red; /* Color del texto */
    font-weight: bold; /* Negrita */
    text-align: center; /* Centrar el texto */
    margin-top: 20px;
}


  
  
  
  
  
  
  
  
  
  

  
  
  
  
  
  
  
  